.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

.w {
    width: 100px;
    height: 60px;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    z-index: 4;
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    -o-box-shadow: 2px 2px 19px #e0e0e0;
    -webkit-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-box-shadow: 2px 2px 19px #e0e0e0;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: 0.8;
    cursor: move;
    background-color: white;
    font-size: 11px;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.diamond {
    width: 100px;
    height: 100px;
    padding: 40px 0;
    border-radius: 0;
    transform: rotate(45deg);
}

.diamond .ep {
    top: 8px;
    right: 8px;
}

.diamond .text {
    transform: rotate(-45deg);
}

.w:hover, .diamond:hover {
    background-color: #5c96bc;
    color: white;

}

.aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.aLabel.jtk-hover, .jtk-source-hover, .jtk-target-hover {
    background-color: #1e8151;
    color: white;
}

.aLabel {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
}

.ep {
    position: absolute;
    bottom: 37%;
    right: -.5em;
    width: 1em;
    height: 1em;
    background-color: transparent;
    border: 2px solid #7AB02C;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px black;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
}

.ep:hover {
    box-shadow: 0 0 6px black;
}

.statemachine-demo .jtk-endpoint {
    z-index: 10;
}

#opened {
    left: 10em;
    top: 20em;
}

#phone1 {
    left: 40em;
    top: 20em;
}

#inperson {
    left: 70em;
    top: 10em;
}

#phone2 {
    left: 70em;
    top: 30em;
}

#rejected {
    left: 100em;
    top: 20em;
}

.dragHover {
    border: 2px solid orange;
}

path, .jtk-endpoint { cursor:pointer; }

.endpoint {
    border-radius: 50%;
}

.container {
    position: relative;
    padding-left: 200px;
}

.menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    height: 400px;
    border: 1px solid #666;
}

.menu_button {
    border: 1px solid #2e6f9a;
    box-shadow: 2px 2px 19px #e0e0e0;
    opacity: 0.8;
    margin: 24px auto;
    cursor: pointer;
}

.button_task {
    width: 60px;
    height: 40px;
    border-radius: 8px;
}

.button_switch {
    width: 50px;
    height: 50px;
    border-radius: 0;
    transform: rotate(45deg);
}